*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    padding-top: 70px;
    height: 100vh;
    width: 100vw;
}



/* General Styling */
  .container {
    height: 100%;
    width: 100%;
  }
  
  /* Hero Section Styling */
  .hero {
    background: url('./assets/hero1.png') center/cover no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(13, 111, 240, 0.637);
    text-align: center;
    
  }
  
  /* Navbar Styling */
  .navbar {
    background-color: rgba(141, 11, 11, 0.712);
  }
  
  /* Section Padding */
  section {
    padding: 60px 0;
  }
  
  footer {
    bottom: 0;
    position: absolute;
    width: 100vw;
}

nav .container-fluid {
  gap: 30vw;
}


main #sweets{
      background-color: #bae8d4;
}

.card img{
  height: 40vh;
}
